import os

TESTING = False
DEBUG = False
LOGFILE_PATH = os.environ.get("LOGFILE_PATH", "error.log")
OK_MESSAGE = "Alohomora!"

GREMLIN_SERVER_URL_REST = os.environ.get("GREMLIN_REST", "http://localhost:8181")
AWS_ACCESS_KEY = os.environ.get("AWS_ACCESS_KEY", '') 
AWS_SECRET_KEY = os.environ.get("AWS_SECRET_KEY", '')
AWS_BUCKET = os.environ.get("AWS_BUCKET", '')
