apiVersion: v1
kind: Secret
metadata:
  name: tagging
data: 
  awsaccesskey: <result of echo -n "AWS_ACCESS_KEY's value | base64">
  awssecretkey: <same process as above>
  awsbucket: <same process as above>
  gremlinresturl: <same process as above>